<button class='fab' (click)='backBtn()'><i class="fas fa-angle-left"></i></button>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="text-center">
          <h1>Add new teacher</h1>
        </div>
      </div>
    </div>
    <form>
        <div class="form-group">
            <label class="control-label col-sm-6" >First Name</label>
            <div class="col-sm-10">
              <input [formControl]="firstname" class="form-control col-lg-8" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" >Last Name</label>
            <div class="col-sm-10">
              <input [formControl]="lastname" class="form-control col-lg-8" type="text">
            </div>
          </div>
    </form>
    <button id="add" (click)='submit()'  type="button" class="btn active">Submit</button>
