<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0"><i class="fas fa-user-circle"></i> Account</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">
        <i class="fas fa-power-off"></i>
        Sign Out
      </a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <!-- Naslov -->
    <div class="col-xl-12">
      <div class="text-center">
        <h1>My account</h1>
      </div>
    </div>
  </div>
  <form>
    <div class="form-group col-lg-4">
      <label>Name</label>
      <input [disabled]='enableTextBox' type="text" [(ngModel)]="teacherAccount.firstName" class="form-control" name="firstName" id="name" placeholder="">
    </div>
    <div class="form-group col-lg-4">
      <label>Surname</label>
      <input [disabled]='enableTextBox' type="surname" [(ngModel)]="teacherAccount.lastName" class="form-control" name="lastName" id="surname" placeholder="">
    </div>
    <div class="form-group col-lg-4">
      <label>Username</label>
      <input [disabled]='enableTextBox' type="username" [(ngModel)]="userAccount.username" class="form-control" name="username" id="username" placeholder="">
    </div>
    <div class="form-group col-lg-4">
      <label>Password</label>
      <input [disabled]='enableTextBox' type="password" [(ngModel)]="userAccount.password" class="form-control" name="password" id="password" placeholder="">
    </div>
  </form>
  <button (click)='toggleEnable()' type="button" class="btn active"><i class="fas fa-user-edit"></i> Edit profile</button>
  <button id="save" type="button" (click)="save()" class="btn active"> Save</button>