h1 {
    margin-top: 5rem;
    font-size: 2.0rem;
    color: #3642c0;
}

.form-group {
    margin-left: 24rem;
}

button {
    background: #3642c0;
    margin-left: 25rem;
    color: white !important;
}

#save {
  margin-left: 9rem;
}

/*
 * Navbar
 */

 .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color:  #3642c0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  i {
    margin-right: 0.5rem;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .bg-dark {
    background-color:  #3642c0 !important;
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  