<div class="container">
    <div class="table-wrapper">
        <table class="table table-bordered">
            <thead>
                <tr class="header">
                    <th>Dates</th>
                    <th>Course</th>
                    <th>Student</th>
                </tr>
            </thead>  
            <tbody>
                <tr *ngFor="let enrollment of enrollments">
                    <ng-container *ngIf="readLocalStorageValue('pid') == enrollment.studentDTO.id">
                        <td>
                        {{enrollment.date}}
                      </td>
                      <td>
                        {{enrollment.courseDTO.name}}
                      </td>
                      <td>
                        {{enrollment.studentDTO.firstName}} {{enrollment.studentDTO.lastName}}
                      </td>
                    </ng-container>  
               </tr>
            </tbody> 
        </table>
    </div>
</div>