<div class="wrapper">
    <input (change)='handleFileInput($event.target.files)' type="file" name="file">
    <button (click)='upload()' >Upload</button>
    <hr>
    <ul *ngFor="let document of documents">
        <li>
            <div>
                <p class="document-title">{{document.name}}</p>
                <button (click)='toggleIframe(document.position)'>Toggle</button>
            </div>
            <iframe class = 'iframe-window' *ngIf='document.display' [src]="document.data" ></iframe>
            <hr>
        </li>
    </ul>
</div>
