<app-t-navbar></app-t-navbar>
<div class="container-fluid">
  <div class="row">
    <app-t-sidebar></app-t-sidebar>
    <!-- Content here -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <p>Teacher Main Component</p>
    </main>
    <!-- Content end -->
    
  </div>
</div>
<div class="frame">
  <router-outlet></router-outlet>
</div>


