<button class='fab' (click)='backBtn()'><i class="fas fa-angle-left"></i></button>
<div class="container">
  <div class="row">
    <!-- Naslov -->
    <div class="col-xl-12">
      <div class="text-center">
        <h1>Add new lecture</h1>
      </div>
    </div>
  </div>
  <form>
    <div class="form-group">
      <label class="control-label col-sm-6" for="lname">Select teacher</label>
      <div class="col-sm-10">
        <select class="form-control col-lg-8" [formControl]="teacherId">
          <option *ngFor="let teacher of teachers"
                  value={{teacher.id}}>{{teacher.firstName}} {{teacher.lastName}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lname">Select course</label>
      <div class="col-sm-10">
        <select class="form-control col-lg-8" [formControl]="courseId">
          <option *ngFor="let course of courses" value={{course.id}}>{{course.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lname">Select role</label>
      <div class="col-sm-10">
        <select class="form-control col-lg-8" [formControl]="roleId">
          <option *ngFor="let role of roles" value={{role.id}}>{{role.name}}</option>
        </select>
      </div>
    </div>
  </form>
  <button type="button" id="add" (click)="onSubmitClick()" class="btn active"><i class="fas fa-plus"></i> Add</button>