<div class="container">
  <div class="col-sm-4">
    <button type="button" class="fab" (click)='addTeacher()'><i class="fa fa-plus"></i> Add New</button>
</div>
<input (keyup)='search()'  [formControl]="filter" type="text" name="search" placeholder="Search..">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th (click)='sortFirstName()'>First Name</th>
        <th (click)='sortLastName()'>Last Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let teacher of displayData">
        <td>{{teacher.firstName}}</td>
        <td>{{teacher.lastName}}</td>
        <td>
          <button (click)='editTeacher(teacher)' class="btn btn-info add-new">Edit</button>
          <button (click)='deleteTeacher(teacher.id)' class="btn btn-info add-new">Delete</button>
          <!-- <button (click)='teacherLectures(teacher.id)' class="btn btn-info add-new">Lectures</button> -->
          <app-teacher-lectures-dialog [teacherId]='teacher.id' [firstName]= 'teacher.firstName' [lastName]='teacher.lastName' ></app-teacher-lectures-dialog>
        </td>
      </tr>
      </tbody>
    </table>
    
  </div>