body {
    color: #404E67;
    background: #F5F7FA;
}
.table-wrapper {
    width: 700px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
}
button{
    background-color: #3642c0;
}
table.table tr th, table.table tr td {
    border-color: black;
}
.header{
    background-color: #3642c0;
    color: white;
}
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #3642c0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    cursor: pointer;
}
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}
.bg-dark {
    background-color:  #3642c0 !important;
  }
.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.0rem;
}