<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="header">
                    <th>Date</th>
                    <th>Course</th>
                    <th>Student</th>
                    <th>Teacher</th>
                    <th></th>
                </tr>
            </thead>  
            <tbody>
                <tr *ngFor="let enrollment of enrollments">
                        <td>
                        {{enrollment.date}}
                      </td>
                      <td>
                        {{enrollment.courseDTO.name}}
                      </td>
                      <td>
                        {{enrollment.studentDTO.firstName}} {{enrollment.studentDTO.lastName}}
                      </td>
                      <td>
                        {{enrollment.teacherDTO.firstName}} {{enrollment.teacherDTO.lastName}}
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary" aria-label="Delete" (click)="deleteEnrollment(enrollment.id)">
                            <span class="fa fa-trash-alt" aria-hidden="true"></span>
                        </button>
                      </td>   
               </tr>
            </tbody> 
        </table>
    </div>
</div>     
