<div class="container">
 <div class="col-sm-4">
    <button type="button" (click)='addCourse()' class="fab" ><i class="fa fa-plus"></i>Add New Course</button>
</div>
  <input (keyup)='search()'  [formControl]="filter" type="text" name="search" placeholder="Search..">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th (click)='sort()' ><i class="fas fa-book-open"></i> Course</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of displayData">
        <td>{{course.name}}</td>
        <td>
          <button (click)='editCourse(course)' class="btn btn-info add-new">Edit</button>
          <button (click)='deleteCourse(course.id)' class="btn btn-info add-new">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
