h1 {
    margin-top: 5rem;
    font-size: 2.0rem;
    color: #3642c0;
}


.btn{
    display: inline-block;
    width: 30%;
    margin: 0;
    margin-left: 10px;
    background-color: #3642c0;
}

.fab {
    width: 70px;
    height: 70px;
    background-color: #3642c0;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    border: none;
    transition: all 0.1s ease-in-out;
  
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
  
    position: fixed;
    right: 50px;
    bottom: 50px;
 }
  
 .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 }

 input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png');
    background-position: 10px 10px; 
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 20px;
 }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }