/*
 * Navbar
 */

 .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #3642c0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  i {
    margin-right: 0.5rem;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .bg-dark {
    background-color: #3642c0 !important;
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  
  table {
    margin-top: 3%;
    width: 40%;
    margin-left: 30%;
  }
  
  table thead {
    background-color: #3642c0;
    color: white;
  }
  
  th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.0rem;
  }  

  #delete {
    background-color: #3642c0;
    color: white;
  }

  #add {
    margin-left: 21rem;
    background-color: #3642c0;
    color: white;
  }