<button class='fab' (click)='backBtn()'><i class="fas fa-angle-left"></i></button>
<div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="text-center">
          <h1>Create Course</h1>
        </div>
      </div>
    </div>
    <form>
      <div class="form-group col-lg-4">
        <label>Course Name</label>
        <input [formControl]="courseName" type="text" class="form-control" >
      </div>
    </form>
    <button (click)="onSubmitClick()" type="button" class="submit-button btn active col-4">Submit</button>
  </div>
