h1 {
    margin-bottom: 5rem;
    font-size: 2.0rem;
    color: #3642c0;
}

.form-group {
    margin-left: 24rem;
}

.submit-button {
    background: #3642c0;
    margin-left: 24rem;
    margin-top: 2rem;
    color: white !important;
}

  .fab {
    width: 70px;
    height: 70px;
    background-color: #3642c0;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    border: none;
    transition: all 0.1s ease-in-out;
  
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
  
    position: fixed;
    right: 50px;
    bottom: 50px;
 }
  
 .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 }
  