<div class="container">
  <input (keyup)='search()'  [formControl]="filter" type="text" name="search" placeholder="Search..">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Card Number</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of displayData">
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.cardNumber}}</td>
      <td>
        <button (click)='editStudent(student)' class="btn btn-info add-new">Edit</button>
        <button (click)='deleteStudent(student.id)' class="btn btn-info add-new">Delete</button>
        <!-- <button (click)='openPaymentsDialog()' class="btn btn-info add-new">Payments</button> -->
        <app-student-documents-dialog [studentId]='student.id'></app-student-documents-dialog>

      </td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="fab" (click)='addStudent()'><i class="fa fa-plus"></i></button>
</div>