<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="editProfile" routerLinkActive="active">
          <i class="fas fa-user-circle"></i>
          Account
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="teacherLectures" routerLinkActive="active">
          <i class="fas fa-book-reader"></i>
          Courses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="teacherEnrollments" routerLinkActive="active">
          <i class="fas fa-folder-open"></i>
          Enrollments
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="teacherExams" routerLinkActive="active">
          <i class="fas fa-file-signature"></i>
          Exams
        </a>
      </li>
    </ul>
  </div>
</nav>

