<button class='fab' (click)='backBtn()'><i class="fas fa-angle-left"></i></button>
<div class="container">
  <div class="row">
    <!-- Naslov -->
    <div class="col-xl-12">
      <div class="text-center">
        <h1>Add new lecture</h1>
      </div>
    </div>
  </div>
  <form>
    <div class="form-group">
      <label class="control-label col-sm-6" for="lname">Select teacher</label>
      <div class="col-sm-10">
        <select class="form-control col-lg-8" [formControl]="teacherId">
        <ng-container *ngFor="let teacher of teachers">
          <option *ngIf="readLocalStorageValue('pid') === teacher.id"
                  value={{teacher.id}}>{{teacher.firstName}} {{teacher.lastName}}</option>
        </ng-container>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lname">Select course</label>
      <div class="col-sm-10">
        <select class="form-control col-lg-8" [formControl]="lectureCourseId">
        <ng-container *ngFor="let lecture of lectures">
            <option *ngIf="readLocalStorageValue('pid') === lecture.teacherDTO.id"
                        value={{lecture.courseDTO.id}}>{{lecture.courseDTO.name}}</option>
        </ng-container>
        </select>
      </div>
    </div>
  </form>
  <button type="button" id="add" (click)="onSubmitClick()" class="btn active"><i class="fas fa-plus"></i> Add</button>