<button class='open-btn' (click)='openModal()'>Documents</button>
<div *ngIf='showModal' class="modal">
    <div class="modal-content">
        <span (click)='closeModal()' class="close-btn">&times;</span>
        <ul *ngFor="let document of documents">
            <li>
                <div>
                    <p class="document-title">{{document.name}}</p>
                    <button (click)='toggleIframe(document.position)'>Toggle</button>
                </div>
                <iframe class = 'iframe-window' *ngIf='document.display' [src]="document.data" ></iframe>
                <hr>
            </li>
        </ul>
</div>