<div class="container contact">
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" onclick="history.back()"><i class="fa fa-house-user"></i> Home</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">
              <i class="fa fa-power-off"></i>
              Sign Out
            </a>
        </ul>
    </nav>
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<h2>Exam</h2>
				<h4>Registration</h4>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
					<label class="control-label col-sm-6" >Student</label>
					<div class="col-sm-10">
					  <input disabled [formControl]="student" class="form-control col-lg-8" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-6" >Course</label>
					<div class="col-sm-10">
					  <input disabled [formControl]="course" class="form-control col-lg-8" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-6" >Exam Points</label>
					<div class="col-sm-10">
					  <input [formControl]="examPoints" class="form-control col-lg-8" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-6" >Lab Points</label>
					<div class="col-sm-10">
					  <input [formControl]="labPoints" class="form-control col-lg-8" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-6" >Grade</label>
					<div class="col-sm-10">
					  <input [formControl]="grade" class="form-control col-lg-8" type="text">
					</div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" (click)='submit()' class="btn btn-default">Submit</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>