<div class="container enrollment">
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" onclick="history.back()"><i class="fa fa-house-user"></i> Home</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">
              <i class="fa fa-power-off"></i>
              Sign Out
            </a>
        </ul>
    </nav>
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<h2>Enrollment</h2>
				<h4>Create</h4>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">Date:</label>
				  <div class="col-sm-10">          
					<input type="date" [formControl]="date" class="form-control" id="date" placeholder="Enter date" name="student">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Course:</label>
				  <div class="col-sm-10"> 
					<select class="form-control col-lg-8" [formControl]="courseId">
						<ng-container *ngFor="let lecture of lectures">
							<option  *ngIf="readLocalStorageValue('pid') == lecture.teacherDTO.id" value={{lecture.courseDTO.id}}>{{lecture.courseDTO.name}}</option>
						</ng-container>
					</select>	
				   </div>
                </div>
                <div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Student:</label>
				  <div class="col-sm-10">          
					<select class="form-control col-lg-8" [formControl]="studentId">         
						<option *ngFor="let student of students" value={{student.id}}>{{student.firstName}} {{student.lastName}}</option>
					</select>
				  </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="lname">Teacher:</label>
					<div class="col-sm-10"> 
					  <select class="form-control col-lg-8" [formControl]="teacherId">
						  <ng-container *ngFor="let teacher of teachers">
							  <option  *ngIf="readLocalStorageValue('pid') == teacher.id" value={{teacher.id}}>{{teacher.firstName}} {{teacher.lastName}}</option>
						  </ng-container>
					  </select>	
					 </div>
				  </div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button (click)="onSubmitClick()" type="submit" class="btn btn-default">Submit</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
