.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #3642c0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    cursor: pointer;
}
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
.bg-dark {
    background-color:  #3642c0 !important;
}
body{
    background-color: #25274d;
}
.row{
    margin-left: 25%;
    width: 70%;
}
.enrollment{
    padding: 4%;
}
.col-md-3{
    background: #e9e9e9;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top: 70%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
input{
    max-width: 66%;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}