<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new" (click)='teacherCreateEnrollment()'><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="header">
                    <th>Date</th>
                    <th>Course</th>
                    <th>Student</th>
                    <th>Teacher</th>
                </tr>
            </thead>  
            <tbody>
                <tr *ngFor="let enrollment of enrollments">
                    <ng-container *ngIf="readLocalStorageValue('pid') == enrollment.teacherDTO.id">
                      <td>
                        {{enrollment.date}}
                      </td>
                      <td>
                        {{enrollment.courseDTO.name}}
                      </td>
                      <td>
                        {{enrollment.studentDTO.firstName}} {{enrollment.studentDTO.lastName}}
                      </td>
                      <td>
                        {{enrollment.teacherDTO.firstName}} {{enrollment.teacherDTO.lastName}}
                      </td>
                    </ng-container>
               </tr>
            </tbody> 
        </table>
    </div>
</div>     