body {
    color: #404E67;
    background: #F5F7FA;
}
.table-wrapper {
    float: right;
    margin-right: 100px;
    width: 700px;
    background: #fff;
}
.table-title {
    margin-top: 10px;
    padding-bottom: 10px;
}
.table-title .add-new {
    float: left;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
    background-color:  #3642c0;
}
.table-title .add-new i {
    margin-right: 4px;
}
.header{
    background-color: #3642c0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.0rem;
}
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #3642c0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    cursor: pointer;
}
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}
.bg-dark {
    background-color:  #3642c0 !important;
  }
.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}