<div class="frame">
    <div class="wrapper">
        <p class="title">Sign In</p> 
        <form>
          <div class="inputWithIcon">
            <input [formControl]="username" class="singnin-input" type="text" placeholder="Username">
            <i class="fa fa-user fa-lg fa-fw"  aria-hidden="true"></i>
          </div>
          
          <div class="inputWithIcon">
            <input [formControl]="password" class="singnin-input" type="password" placeholder="Password">
            <i class="fas fa-lock" aria-hidden="true"></i>
          </div>
        </form>
        <p class="error-message"  *ngIf="invalidLogin">Wrong username or password </p>
          
        <button (click)="login()" class="sign-in-btn">Sign In</button>
    </div>
</div>
