<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a type= "button" class="nav-link" routerLinkActive="active" routerLink="profile">
            <span data-feather="home"></span>
            <i class="fas fa-house-user"></i>
            Profile <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="exams">
            <span data-feather="file"></span>
            <i class="fas fa-file-signature"></i>
            Exams
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="documents">
              <span data-feather="shopping-cart"></span>
              <i class="fas fa-paste"></i>
              Documents
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              <i class="fas fa-credit-card"></i>
              Payments
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="enrollments">
              <span data-feather="users"></span>
              <i class="fas fa-book-reader"></i>
              Enrollment
            </a>
          </li>
        </ul>
    </div>
</nav>