<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0"><i class="fas fa-book-reader"></i> Lectures</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">
        <i class="fas fa-power-off"></i>
        Sign Out
      </a>
    </li>
  </ul>
</nav>
<div class="container">
  <button id="btnAddLecture" (click)="addLecture()" type="button" class="btn active"><i class="fas fa-plus"></i> Add new</button>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th><i class="fas fa-chalkboard-teacher"></i>Teacher</th>
      <th><i class="fas fa-book-open"></i> Course</th>
      <th><i class="fas fa-book-open"></i> Role</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lecture of lectures">
      <ng-container>
        <td>{{lecture.id}}</td>
        <td>{{lecture.teacherDTO.firstName}} {{lecture.teacherDTO.lastName}}</td>
        <td>{{lecture.courseDTO.name}}</td>
        <td>{{lecture.roleDTO.name}}</td>
        <td><button id="delete" type="button" class="btn active" (click)="deleteLecture(lecture.id)"><i class="far fa-trash-alt"></i> Delete</button></td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>

