<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info exams" (click)='passedExams()'>Passed Exams</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="header">
                    <th>Course</th>
                    <th>Student</th>
                    <th>Lab Points</th>
                    <th>Exam Points</th>
                    <th>Grade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let lecture of lectures">
                <tr *ngFor="let exam of exams">
                    <ng-container *ngIf="readLocalStorageValue('pid') === lecture.teacherDTO.id && exam.courseDTO.name === lecture.courseDTO.name && exam.grade == 0">
                        <td>
                            {{lecture.courseDTO.name}}
                        </td>
                        <td>
                            {{exam.studentDTO.firstName}} {{exam.studentDTO.lastName}}
                        </td>
                        <td>
                            {{exam.pointsLab}}
                        </td>
                        <td>
                            {{exam.pointsExam}}
                        </td>
                        <td>
                            {{exam.grade}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" aria-label="Edit" (click)="editExam(exam)">
                                <span class="fa fa-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>