h1 {
    margin-top: 5rem;
    font-size: 1.8rem;
    color: #3642c0;
}

.form-group {
    margin-left: 21rem;
    margin-top: 2rem;
}

a {
  cursor: pointer;
}

/*
 * Navbar
 */

 .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color:  #3642c0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  i {
    margin-right: 0.5rem;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .bg-dark {
    background-color:  #3642c0 !important;
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  #add {
    margin-left: 21.9rem;
    background-color: #3642c0;
    color: white;
  }
  

  .fab {
    width: 70px;
    height: 70px;
    background-color: #3642c0;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    border: none;
    transition: all 0.1s ease-in-out;
  
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
  
    position: fixed;
    right: 50px;
    bottom: 50px;
 }
  
 .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 }
  