<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0"><i class="fas fa-user-shield"></i> Administrator</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" (click)='signOut()'>
          <i class="fas fa-power-off"></i>
          Sign Out
        </a>
      </li>
    </ul>
  </nav>