<button class='open-btn' (click)='openModal()'>Lectures</button>
<div *ngIf='showModal' class="modal">
  <div class="modal-content">
    <span (click)='closeModal()' class="close-btn">&times;</span>
    <h3>{{firstName}} {{lastName}} lectures</h3>
    <hr>
    <ul *ngFor='let lecture of lectures'>
        <li><b>[{{lecture.roleDTO.name}}]</b> {{lecture.courseDTO.name}}</li>
    </ul>
  </div>
</div>