<div class="container">
    <div class="table-wrapper">
        <table class="table table-bordered">
            <thead>
                <tr class="header">
                    <th>Course</th>
                    <th>Student</th>
                    <th>Lab Points</th>
                    <th>Exam Points</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exam of exams">
                        <td>
                            {{exam.courseDTO.name}}
                        </td>
                        <td>
                            {{exam.studentDTO.firstName}} {{exam.studentDTO.lastName}}
                        </td>
                        <td>
                            {{exam.pointsLab}}
                        </td>
                        <td>
                            {{exam.pointsExam}}
                        </td>
                        <td>
                            {{exam.grade}}
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>