<div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Student</h4>
          </div>
          <div class="card-body" *ngFor="let student of students">
            <ng-container *ngIf="readLocalStorageValue('pid') == student.id">
              <label>First Name</label>
              <input disabled type="text" class="form-control" id="name" value="{{student.firstName}}">
              <label>Last Name</label>
              <input disabled type="text" class="form-control" id="name" value="{{student.lastName}}">
              <label>Card Number</label>
              <input disabled type="text" class="form-control" id="name" value="{{student.cardNumber}}">
            </ng-container>
          </div>
        </div>
  </div>
</div>