.container {
    max-width: 500px;
    height: 300px;
    float: left;
}
  
.pricing-header {
    max-width: 500px;
}
  
.card-deck, .card {
    min-width: 100px;
    max-height: 300px;
}

.card-header {
    margin-bottom: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

label{
    float: left;
}

.card-title{
    margin-top: 20px;
    font-size: 20px;
    text-align: left;
}

.list-unstyled {
    text-align: left;
    margin-bottom: 5px;
    padding-left: 0px;
   
}

.card-footer{
    height: 45px;
    background-color: white;
}