<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="editProfile" routerLinkActive="active">
            <i class="fas fa-user-circle"></i>
            Account
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="courses" routerLinkActive="active">
            <i class="fas fa-book-reader"></i>
            Courses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="students" routerLinkActive="active">
            <i class="fas fa-book-reader"></i>
            Students
          </a>
        </li>

        <li>
          <a class="nav-link" routerLink="teachers" routerLinkActive="active">
            <i class="fas fa-book-reader"></i>
            Teachers
          </a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" routerLink="lectures" routerLinkActive="active">
            <i class="fas fa-book-reader"></i>
            Lectures
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="enrollments" routerLinkActive="active">
            <i class="fas fa-book-reader"></i>
            Enrollments
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="exams" routerLinkActive="active">
            <i class="fas fa-book-reader"></i>
            Exams
          </a>
        </li> 
      </ul>
    </div>
  </nav>
