<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-5">
                    <button type="button" class="btn btn-info exams" (click)='passedExams()'>Passed Exams</button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new" (click)='registerExam()'><i class="fa fa-plus"></i> Register Exam</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="header">
                    <th>Course</th>
                    <th>Student</th>
                    <th>Lab Points</th>
                    <th>Exam Points</th>
                    <th>Grade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exam of exams">
                    <ng-container *ngIf="readLocalStorageValue('pid') == exam.studentDTO.id && exam.grade == 0">
                        <td>
                            {{exam.courseDTO.name}}
                        </td>
                        <td>
                            {{exam.studentDTO.firstName}} {{exam.studentDTO.lastName}}
                        </td>
                        <td>
                            {{exam.pointsLab}}
                        </td>
                        <td>
                            {{exam.pointsExam}}
                        </td>
                        <td>
                            {{exam.grade}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-info delete" aria-label="Delete" (click)="deleteExam(exam.id)">
                                <span class="fa fa-trash-alt" aria-hidden="true"></span>
                            </button>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>